@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

$Red: hsl(0,
78%,
62%);
$Cyan: hsl(180,
62%,
55%);
$Orange: hsl(34,
97%,
64%);
$Blue: hsl(212,
86%,
64%);
$Very-Dark-Blue: hsl(234,
12%,
34%);
$Grayish-Blue: hsl(229,
6%,
66%);
$Very-Light-Gray: hsl(0,
0%,
98%);
body {
    font-family: "Poppins", sans-serif;
    background-color: $Very-Light-Gray;
    margin: 0 auto;
    font-weight: 200;
}

p {
    color: $Grayish-Blue;
    font-size: 1em;
}

h1 {
    font-size: 1.8em;
}

h1,
h3 {
    color: $Very-Dark-Blue;
    font-weight: 600;
}