  @import "base";
      
          .first-container {
            max-width: 530px;
            text-align: center;
            margin: 2em auto;
            .head-1 {
                font-weight: 100;
                color: $Very-Dark-Blue;
                margin-bottom: 0;
            }
            .head-2 {
                margin-top: 0;
                font-weight: 600;
            }
        }
        
        .grid-box {
            margin: 3em auto;
            display: grid;
            grid-template-columns: repeat(3, 21em);
            grid-gap: 2em;
            grid-template-areas: "supervisor team karma" ". calculator .";
            justify-content: center;
            .box-1,
            .box-2,
            .box-3,
            .box-4 {
                margin-top: 1.5em;
                box-shadow: 10px 15px 30px #dfdede;
                border-radius: 5px;
                padding: 1em 2em;
                
            }
            .box-1 {
                border-top: 5px solid $Cyan;
                grid-area: supervisor;
                position: relative;
                top: 10em;
            }
            .box-2 {
                border-top: 5px solid $Red;
                grid-area: team;
            }
            .box-3 {
                border-top: 5px solid $Orange;
                grid-area: karma;
                position: relative;
                top: 10em;
            }
            .box-4 {
                border-top: 5px solid $Blue;
                margin-top: 0;
                grid-area: calculator;
            }
            img {
                float: right;
                margin-top: 2em;
            }
        }
        
        footer {
            text-align: center;
        }
        
        // Media-Query
        @media only screen and (max-width: 1076px) {
            .grid-box {
                grid-template-columns: repeat(2, 21em);
                grid-template-areas: "supervisor team" "karma  calculator";
                .box-1 {
                    position: static;
                }
                .box-3 {
                    position: static;
                }
                .box-4 {
                    margin-top: 1.5em;
                }
            }
        }
        
        @media only screen and (max-width: 732px) {
            .grid-box {
                grid-template-columns: repeat(1, 21em);
                grid-template-areas: "supervisor" "team" "karma" "calculator";
                .box-1,
                .box-2,
                .box-3,
                .box-4 {
                    margin-top: 0;
                }
            }
        }